/.venv
/backend/.venv
/frontend/.venv
node_modules/
frontend/node_modules/
/frontend/.next
/frontend/out
/backend/storage
/backend/.pytest_cache
*.pyc
__pycache__/
.DS_Store
*.log
env/
.env
/.idea
.vscode
.pytest_cache/
.mypy_cache/